/* GENERAL */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Helvetica, sans-serif;
	color: #333;
}
.clearfix:before, .clearfix:after {
	display: block;
	content: " ";
	clear: both;
}

/* MENU */
#main-menu {
	
}
#main-menu ul li {
	display: inline-block;
	text-align: center;
}

/* FOOTER */
#footer {
	padding: 30px;
	background-image: url("../img/footer-background.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#footer p {
	color: #8DEEA3;
}