/* GENERAL */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.clearfix:before, .clearfix:after {
	display: block;
	content: " ";
	clear: both;
}

/* MENU */
#main-menu {
	
}
#main-menu ul li {
	display: inline-block;
	text-align: center;
}

/* FOOTER */
#footer {
	padding: 30px;
	background-image: url("../img/footer-background.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-width: 100%;
	background-position: top left;
}