/* GENERAL */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Helvetica, sans-serif;
	color: #333;
}
.clearfix:before, .clearfix:after {
	display: block;
	content: " ";
	clear: both;
}
body {
	background-image: url("../img/background.png");
	background-repeat: repeat-x;
	background-position: top left;
	background-attachment: fixed;
}

/* MENU */
#main-menu {
	
}
#main-menu ul li {
	display: inline-block;
	text-align: center;
}

/* BODY */
#body #clouds {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 400px;
	background-image: url("../img/clouds.png");
	background-repeat: repeat-x;
	background-position: top center;
}

/* FOOTER */
#footer {
	padding: 30px;
	background-image: url("../img/footer-background.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#footer p {
	color: #8DEEA3;
}